#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  height: 80vh;
}

h1 {
  text-align: center;
  color: #ffac4b;
}

.file-selectors-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.virtual-file-wrapper {
  padding: 2em;
}

.virtual-file-wrapper svg path {
  stroke: #ffac4b;
}

.virtual-file-wrapper.modified svg path {
  stroke: #d5a5f7;
}

.App {
  text-align: center;
}

#create-file-by-name {
  background-color: #343436;
  padding: .6em;
  border: 1px solid #ffac4b;
  color: white;
}

#create-file-by-name:focus {
  outline: none;
}

#create-file-btn {
  padding: .4em 1em;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ffac4b;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.files-area {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
}

.nova-editor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.nova-editor form {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


.nova-editor form .react-monaco-editor-container {
  width: 100% !important;
  text-align: initial;
  margin: auto;
  border: .3px solid white;
}

.nova-editor .saved-message {
  color: white;
}


.nova-editor form .editor-btn-container button, #create-file-btn {
  background-color: #1e1e1e;
  color: white;
  border: .3px solid white;
  border-radius: 0;
}

.nova-editor form .editor-btn-container button:hover, #create-file-btn {
  background-color: #44d6ff;
}

