#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  height: 80vh;
}

#github {
  position: absolute;
  top: 3em;
  right: 1em;
  opacity: 0.1;
}

#github a {
  color: white;
}

h1 {
  text-align: center;
  color: #ffac4b;
}

h1 + #guide {
  padding: 0;
  position: absolute;
  top: 3em;
  right: 3em;
  opacity: 0.1;
  background-color: transparent;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
}

h1 + #guide:hover, 
h1 + #guid:focus {
  outline: none;
  border: 0;
}

.popup-content {
  margin: auto;
  background: black;
  width: 200px;
  padding: 1em;
}
.popup-arrow {
  color: black;
}

.file-selectors-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.virtual-file-wrapper {
  padding: 2em;
}

.virtual-file-wrapper svg {
  transition: all 0.3s ease;
}

.virtual-file-wrapper svg:hover {
  transform: scale(1.2);
}

.virtual-file-wrapper svg path {
  stroke: #ffac4b;
}

.virtual-file-wrapper.modified svg path {
  stroke: #d5a5f7;
}

.App {
  text-align: center;
}

#create-file-by-name {
  background-color: #343436;
  padding: 0.6em;
  border: 1px solid #ffac4b;
  color: white;
}

#create-file-by-name:focus {
  outline: none;
}

#create-file-btn {
  padding: 0.4em 1em;
}

input[type='file'] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ffac4b;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.files-area {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.nova-editor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.nova-editor form {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nova-editor form .react-monaco-editor-container {
  width: 100% !important;
  text-align: initial;
  margin: auto;
  border: 0.3px solid white;
}

.nova-editor .saved-message {
  color: white;
}

.nova-editor form .editor-btn-container button,
#create-file-btn,
#downloader {
  background-color: #1e1e1e;
  color: white;
  border: 0.3px solid white;
  border-radius: 0;
}

.nova-editor form .editor-btn-container button:hover,
#create-file-btn,
#downloader:hover {
  background-color: #44d6ff;
}

#downloader {
  padding: 0.53em 1em;
  background-color: #ffac4b;
}

@media screen and (max-width: 768px) {
  .file-selectors p + div form {
    text-align: center;
  }
  .nova-editor form .editor-btn-container button,
  #create-file-btn,
  #downloader {
    padding: 0.4em;
  }
}
