.last-commit p {
  font-size: 0.7em;
}

.text-input-wrapper .close-btn svg {
  vertical-align: middle;
}

.commit-msg-input {
  background-color: black;
  width: 100%;
  padding: 0.4em;
  color: white;
  transition: all 0.2s ease;
  border: none;
}
.commit-msg-input.commit-success {
  border: solid #12fcd4;
}

.commit-msg-input.commit-error {
  border: solid red;
}

.commit-msg-input:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  .last-commit p {
    font-size: 0.5em;
  }
}
